.app-header {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);
}

.app-header ul {
  list-style: none;
  margin: 0;
  padding: 0;

  flex: 1;
  max-width: 800px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
}

.app-header li {
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 1s ease;

  &:hover {
    background-color: var(--main-bg);
    color: black;
  }
}