.chatbot-main {
  /* background-color: red; */
  flex-grow: 1;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chatbot-container {
  margin-top: 20px;
  margin-bottom: 0px;
  /* background-color: blue; */
  flex-grow: 1;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.chatbot-input {
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  max-width: 700px;
  margin-bottom: 10px;
}


.chatbot-input input {
  font-size: 16px;
  padding: 10px 14px;
  flex: 1;
  max-width: 600px;
  border: 2px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
}

.chatbot-input button {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 15px;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;

  &:hover {
    opacity: .9;
  }
}



.chatbot-container img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.message-prime {
  /* background-color: aqua; */
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 6px;
  align-items: start;
}


.message-prime p {
  background-color: rgba(255, 255, 255, 0.651);
  margin-top: 3px;
  padding: 12px;
  border-radius: 8px;
  max-width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.user-message {
  justify-content: end;
}


.messages {
  /* background-color: red; */
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-inline: 10px; */
  height: 100%;
}

/* Clipped !! */
/* .messages-bottom {
   justify-content: end;
} */
 /* spacer sitll option !! */
 /* .spacer{
  flex-grow: 1;
} */
 
.messages-bottom> :first-child {
  margin-top: auto;
}

.welcome-message {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: .5;
}

.loading-gif {
  width: 30px !important;
  height: 30px !important;
  margin: -10px;
}


.move-textbox-div {
  /* background-color: red; */
  padding: 10px;
}

.move-textbox-div p {
  text-decoration: underline;
  cursor: pointer;
}



@media (max-width:600px) {
  .chatbot-container {
    margin-top: 0px;
  }

  .chatbot-input {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .messages {
    margin-top: 0px;
  }

  .chatbot-input {
    position: sticky;
    bottom: 0;
    z-index: 10;
  }

  .chatbot-main-for-input {
    margin-bottom: 0px;
  }

}