.chatbot-main{
  height: 84vh;
  align-items: center;
}

.chatbot-container{
  height: 80vh;
  flex-grow: 1;
  background-color: rgb(138, 183, 224);
}

.chatbot-container img{
  width: 50px;
  height: 50px;
}

.message-prime{
  display: flex;
}