:root {
  --main-bg: rgb(250, 226, 239);
  --main-color: rgb(100, 0, 146);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--main-bg);
  font-family: Arial;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

/* remove the blue tap highlight on mobile phones */
* {
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  outline: none;
}